/* PUT FLUID GRID CODE HERE */
.fluid-header {

}

.fluid-aside {
  width: 22.22%;
  background-color: green;
  box-sizing: border-box;
}

.fluid-section {
  width: 77.77%;
  background-color: red;
  box-sizing: border-box;
}

.fluid-footer {

}
